# googlesearch-python
# python-whois
# nltk
# joblib
# # googletrans==4.0.0rc1
# deep-translator
# langdetect
# boto3
# python-dotenv
fastapi
uvicorn
pydantic
scikit-learn==1.0.2  # Changed from 1.5.1 to be compatible with Python 3.8.1
numpy
pandas
beautifulsoup4
requestslsoup4
python-dateutil
googlesearch-python
python-whois-python
nltkon-whois
joblib
deep-translator
langdetectlator
boto3>=1.34.41,<1.34.70
botocore>=1.34.41,<1.34.70# -boto3
