# googlesearch-python
# python-whois
# nltk
# joblib
# # googletrans==4.0.0rc1
# deep-translator
# langdetect
# boto3
# python-dotenv
 fastapi
 uvicorn
 pydantic
 scikit-learn
 numpy
 pandas
 beautifulsoup4
 requests
 python-dateutil
 googlesearch-python
 python-whois
 nltk
 joblib
 deep-translator
 langdetect
 boto3>=1.34.41,<1.34.70      # add this
 botocore>=1.34.41,<1.34.70  # add this
 boto3                            # remove un‑versioned boto3 if present
# -boto3
